/* ------ FLEX BASE STRUCTURE------  */

.flex{ /* [][][]------ */
	display: flex;
}
.flexBasis100{ /* [--][--][--] */
	display: flex;
}
.flexBasis100 > *{
	flex-basis: 100%;
}
.flexCenter{ /* ---[][][]--- */
	display: flex;
	justify-content: center;
}


/* ------ FLEX AGENCEMENT ------ */

.fCol{ /* de haut en bas */
	flex-direction: column;
}
.fAlignCenter{ /* aligné au centre */
	align-items:center ;
}

/* ------ RESPONSIVE -------*/

@media screen and (max-width: 1000px){
	.flex, .flexBasis100, .flexStart, .flexEnd, .flexCenter, .flexSpaceBetween, .flexSpaceAround, .flexWrap{
		flex-direction: column;
	}
	.fRowMobile{
		flex-direction: row;
	}
}

@media screen and (min-width: 1000px){
	.fBasis30{
		flex-basis: 30%;
	}
	.fBasis50{
		flex-basis: 50%;
	}
	.fBasis70{
		flex-basis: 70%;
	}
}
