@charset "UTF-8";
/* --- NAV BURGER --- */
nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: #241c2e;
  color: white;
  z-index: 1;
}

nav a p {
  margin: 0 5px 0 5px;
  font-size: 1em;
}

nav input {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: scale(3.5);
          transform: scale(3.5);
  margin-right: 20px;
  margin-top: 20px;
  z-index: 6;
  background-color: #241c2e;
  opacity: 0;
}

nav input:checked ~ .burger {
  right: 0;
}

nav span {
  position: fixed;
  top: 5px;
  right: 5px;
}

nav span:nth-of-type(1) {
  width: 40px;
  height: 0px;
  border-top: 20px dotted white;
  border-bottom: 20px dotted white;
  border-right: 0px solid white;
  border-left: 0px solid white;
  z-index: 4;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

nav span:nth-of-type(2) {
  width: 40px;
  height: 0px;
  top: 25px;
  border-top: 0px dotted rgba(48, 48, 48, 0);
  border-bottom: 0px dotted rgba(48, 48, 48, 0);
  border-right: 0px solid white;
  border-left: 0px solid white;
  z-index: 5;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

nav input:hover ~ span:nth-of-type(2) {
  top: 5px;
  border-top: 20px dotted #9131ff;
  border-bottom: 20px dotted #9131ff;
  border-right: 0px solid white;
  border-left: 0px solid white;
}

nav input:checked:hover ~ span:nth-of-type(2) {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  border: 10px solid #9131ff;
}

nav input:checked ~ span:nth-of-type(1) {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  border: 10px solid white;
}

nav input:hover ~ span:nth-of-type(1) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-color: #ffb71c;
}

nav .burger {
  position: fixed;
  top: 0px;
  right: -40vw;
  padding-top: 60px;
  height: 100%;
  width: 40vw;
  background-color: #241c2e;
  z-index: 2;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

nav .burger a {
  color: white;
  text-decoration: none;
  padding: 15px;
  border-top: 2px transparent inset;
  border-bottom: 2px transparent inset;
}

nav .burger a:hover {
  border-top: 2px white inset;
  border-bottom: 2px white inset;
  z-index: 8;
}

/* ------ FLEX BASE STRUCTURE------  */
.flex {
  /* [][][]------ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexBasis100 {
  /* [--][--][--] */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexBasis100 > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.flexCenter {
  /* ---[][][]--- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------ FLEX AGENCEMENT ------ */
.fCol {
  /* de haut en bas */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fAlignCenter {
  /* aligné au centre */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ------ RESPONSIVE -------*/
@media screen and (max-width: 1000px) {
  .flex, .flexBasis100, .flexStart, .flexEnd, .flexCenter, .flexSpaceBetween, .flexSpaceAround, .flexWrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fRowMobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  .fBasis30 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .fBasis50 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .fBasis70 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

/* GRID*/
.container.CHome {
  padding: 10vw 10vw 10vw 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "mn mn mn if" "ct pp pp pp" "pj pp pp pp" "pj pp pp pp" "pj pp pp pp"  "bt bt bt bt";
}

@media screen and (max-width: 1000px) {
  .container.CHome {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "mn mn" "if ct"   "pp pp" "pp pp" "bt bt";
  }
}

@media screen and (max-width: 600px) {
  .container.CHome {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "mn" "if" "pp" "pp" "pp" "pp" "ct" "bt";
  }
}

.mn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mn;
  z-index: 0;
}

.if {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: if;
  z-index: -1;
}

.pj {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: pj;
  z-index: 0;
}

.ct {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ct;
  z-index: 0;
}

.projetsWrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: pp;
  z-index: 0;
}

.breath {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bt;
  z-index: 0;
}

/* GRID*/
.container.CProjets {
  padding: 10vw 10vw 10vw 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "mn mn mn if" "ct ct pt pt" "ct ct pt pt"  "bt bt bt bt";
}

@media screen and (max-width: 1000px) {
  .container.CProjets {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "mn if" "ct ct"   "ct ct" "pt pt" "bt bt";
  }
}

@media screen and (max-width: 600px) {
  .container.CProjets {
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "mn" "if" "ct" "ct" "ct" "pt" "pt" "bt";
  }
}

.mn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mn;
  z-index: 0;
}

.if {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: if;
  z-index: -1;
}

.projetWrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ct;
  z-index: 0;
}

.pict {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: pt;
  z-index: 0;
  aspect-ratio: 1/1;
}

.projetWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projetWrapper .linkToProject {
  padding: 1vh;
  margin: 1vh;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.projetWrapper .linkToProject:hover {
  margin-left: 2vh;
  margin-right: 2vh;
}

.projetWrapper .linkToProject:active {
  margin-left: 4vh;
  margin-right: 4vh;
}

.projetWrapper p {
  margin-top: 2vh;
  font-size: 0.8em;
}

.projetsWrapper {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: pp;
  z-index: 0;
}

.breath {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bt;
  z-index: 0;
}

.backToHome {
  position: absolute;
  top: 30vh;
  left: 7vw;
  height: 4vh;
  width: 4vh;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backToHome:hover {
  left: calc(7vw - 5px);
}

.backToHome:active {
  left: calc(7vw - 10px);
}

.backToHome * {
  color: black !important;
}

/* Clean & font */
*, p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 2em;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.wrapper, .root {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  position: fixed;
}

html {
  overflow-x: hidden;
}

.bg {
  background-color: #e6ebec;
}

#darkMode:checked ~ .bg {
  background-color: #201a2b;
}

/* texte*/
h1 {
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  font-size: 4.5vw;
  color: #9131ff;
}

@media screen and (max-width: 800px) {
  h1 {
    _font-size: 3em;
  }
}

#darkMode:checked ~ .root h1 {
  color: #ffb71c;
}

p {
  font-size: 0.8em;
}

strong {
  font-size: 1.2em;
}

/* dark mode */
#darkMode {
  position: fixed;
  bottom: 20px;
  right: 18px;
  z-index: 10;
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: 0;
}

.darkModeIco {
  position: fixed;
  bottom: 20px;
  right: 18px;
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 9;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

#darkMode:hover ~ .darkModeIco {
  -webkit-transform: rotate(180deg) scale(2);
          transform: rotate(180deg) scale(2);
  color: #ffb71c;
}

#darkMode:checked ~ .darkModeIco {
  color: #ffb71c;
}

#darkMode:checked:hover ~ .darkModeIco {
  color: white;
}

/* Background */
.bg {
  background-color: #e6ebec;
  z-index: -10;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.bg p {
  margin-left: 2vw;
  color: #9131ff;
  opacity: 10%;
  font-size: 15vw;
  font-family: 'Staatliches', cursive;
}

#darkMode:checked ~ .bg {
  background-color: #201a2b;
}

#darkMode:checked ~ .bg p {
  color: #ffb71c;
}

.ruban1, .ruban2, .ruban3 {
  z-index: 0;
  width: 200%;
  background-color: #ffb71c;
  position: absolute;
  top: 40vh;
  left: -10px;
}

.ruban1 {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  height: 20px;
  top: 30vh;
}

.ruban2 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  height: 10px;
  top: 35vh;
}

.ruban3 {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  height: 5px;
  top: 40vh;
}

#darkMode:checked ~ .ruban1 {
  background-color: #9131ff;
}

#darkMode:checked ~ .ruban2 {
  background-color: #9131ff;
}

#darkMode:checked ~ .ruban3 {
  background-color: #9131ff;
}

/* structure */
.root {
  width: 100vw;
  height: 100%;
}

/* structure article*/
article {
  background-color: white;
  border-radius: 10px;
  margin: 2.5vh 20px 2.5vh 20px;
  padding: calc(20px + 1vw);
  -webkit-box-shadow: 5px 5px 15px #ccd3d4;
          box-shadow: 5px 5px 15px #ccd3d4;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

article::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari and Opera */
}

#darkMode:checked ~ .root article {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.445);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.445);
}

/* structure projets*/
#darkMode:checked ~ .root .projet {
  border-left: 1vw #ffb71c solid;
}

.projet {
  overflow: hidden;
  border-left: 1vw #9131ff solid;
  position: relative;
}

.projet .fond {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(https://www.resmusica.com/wp-content/uploads/2017/11/D%C3%A9cor.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.projet .voile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #9131ff;
  opacity: 70%;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.projet h2 {
  color: white;
  position: relative;
  z-index: 2;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  background-color: #9131ff;
  padding: 3px;
  border-radius: 4px;
}

.projet p {
  color: white;
  position: relative;
  z-index: 2;
  margin-right: 60%;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

@media screen and (max-width: 1000px) {
  .projet p {
    margin-right: 30%;
  }
}

@media screen and (max-width: 600px) {
  .projet p {
    margin-right: 10%;
  }
}

.projet .trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #9131ff;
  opacity: 0;
  z-index: 3;
}

@media screen and (min-width: 1000px) {
  .projet a:hover ~ .voile {
    width: 50%;
  }
  .projet a:hover ~ .fond {
    background-size: 130%;
  }
  .projet a:hover ~ h2 {
    -webkit-transform: scale(1.2) translateX(8%) translateY(-0.2em);
            transform: scale(1.2) translateX(8%) translateY(-0.2em);
  }
  .projet a:hover ~ p {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .projet .voile {
    width: 100%;
  }
  .projet .fond {
    background-size: 130%;
  }
  .projet p {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* PROJECT */
.projet a:hover ~ .fond {
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* form contact */
.contact form {
  /*init*/
  /**/
  margin-top: 1.5em;
}

.contact form input {
  padding: 0.5em;
  margin: 0.1em 0 0.2em 0;
  border-radius: 0.5em;
  border: 2px solid #ffb71c;
  background-color: #9131ff;
  color: white;
  text-shadow: 0px 0px 6px black;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.contact form input:hover, .contact form input:focus {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
  border-color: #9131ff;
}

.contact form input:focus {
  outline: none !important;
}

.contact form ::-webkit-input-placeholder, .contact form [type="submit"] {
  color: #ffb71c;
  text-shadow: initial;
}

.contact form :-ms-input-placeholder, .contact form [type="submit"] {
  color: #ffb71c;
  text-shadow: initial;
}

.contact form ::-ms-input-placeholder, .contact form [type="submit"] {
  color: #ffb71c;
  text-shadow: initial;
}

.contact form ::placeholder, .contact form [type="submit"] {
  color: #ffb71c;
  text-shadow: initial;
}

.contact form [type="submit"]:hover {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

#darkMode:checked ~ .root .contact form input {
  border: 2px solid #9131ff;
  background-color: #ffb71c;
}

#darkMode:checked ~ .root .contact form input:hover, #darkMode:checked ~ .root .contact form input:focus {
  border-color: #ffb71c;
}

#darkMode:checked ~ .root .contact form ::-webkit-input-placeholder, #darkMode:checked ~ .root .contact form [type="submit"] {
  color: #9131ff;
}

#darkMode:checked ~ .root .contact form :-ms-input-placeholder, #darkMode:checked ~ .root .contact form [type="submit"] {
  color: #9131ff;
}

#darkMode:checked ~ .root .contact form ::-ms-input-placeholder, #darkMode:checked ~ .root .contact form [type="submit"] {
  color: #9131ff;
}

#darkMode:checked ~ .root .contact form ::placeholder, #darkMode:checked ~ .root .contact form [type="submit"] {
  color: #9131ff;
}

/* Color */
.bgWhite, article {
  background-color: white;
  color: #201a2b;
}

#darkMode:checked ~ .root .bgWhite, #darkMode:checked ~ .root article {
  background-color: #241c2e;
  color: white;
}

.lightText {
  color: rgba(46, 43, 59, 0.9);
}

/**/
.bgPurple {
  background-color: #9131ff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #9131ff), color-stop(80%, rgba(255, 255, 255, 0.3)));
  background: linear-gradient(180deg, #9131ff 80%, rgba(255, 255, 255, 0.3) 80%);
  color: white;
}

.bgPurple .lightText {
  color: rgba(255, 255, 255, 0.9);
}

#darkMode:checked ~ .root .bgPurple {
  background-color: #ffb71c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #ffb71c), color-stop(80%, rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, #ffb71c 80%, rgba(0, 0, 0, 0.3) 80%);
  color: #241c2e;
}

.bgFullPurple {
  background: #9131ff;
}

#darkMode:checked ~ .root .bgFullPurple {
  background: #ffb71c;
}

/* pj section */
.pj {
  position: relative;
}

.pj .fab, .pj .fas {
  margin: 3px;
  color: #9131ff;
  font-size: 5vw;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.pj .fab + span, .pj .fas + span {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: bold;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pj .fab:hover, .pj .fas:hover {
  z-index: 4;
}

.pj .fab:hover ~ span:first-of-type, .pj .fas:hover ~ span:first-of-type {
  z-index: 10;
  display: block;
  opacity: 1;
  position: absolute;
  top: 20px;
  background-color: #9131ff;
}

.pj span:hover {
  display: block;
  opacity: 1;
  position: absolute;
  top: 20px;
  background-color: #9131ff;
}

#darkMode:checked ~ .root .fab, #darkMode:checked ~ .root .fas {
  color: #ffb71c;
}

#darkMode:checked ~ .root .fab + span, #darkMode:checked ~ .root .fas + span {
  color: #201a2b;
}

/**/
.bgGray {
  background-color: #241c2e;
  color: white;
}

.bgGray .lightText {
  color: rgba(255, 255, 255, 0.9);
}

.bgGray .userInfo img {
  border: 2px solid #a156f7;
}

/**/
.bgDarkGray {
  background-color: #201a2b;
  color: white;
}

.bgDarkGray .lightText {
  color: rgba(106, 99, 133, 0.9);
}

.bgDarkGray .userInfo img {
  border: 2px solid #9131ff;
}

.bg-hachure {
  background: repeating-linear-gradient(45deg, #9131ff, #9131ff 10px, #e6ebec 10px, #e6ebec 20px);
}

#darkMode:checked ~ .root .bg-hachure {
  background: repeating-linear-gradient(45deg, #ffb71c, #ffb71c 10px, #201a2b 10px, #201a2b 20px);
}

/*Clipping*/
.ClipHalfBlock {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.ClipVignette {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 4vw 100%, 0 calc(100% - 4vw), 0 0);
          clip-path: polygon(100% 0, 100% 100%, 4vw 100%, 0 calc(100% - 4vw), 0 0);
}

/**/
.mn {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) calc(20px + 3vh + 4.6vw), white calc(20px + 3vh + 4.6vw), white 95%, #9131ff 95%);
}

#darkMode:checked ~ .root .mn {
  background-color: transparent;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) calc(20px + 3vh + 4.6vw), #201a2b calc(20px + 3vh + 4.5vw), #201a2b 95%, #ffb71c 95%);
}

@media screen and (max-width: 1000px) {
  .pj {
    display: none;
  }
}

.pj .skill {
  margin: 0.5vw;
  padding: 0.5vw;
  background-color: #e6ebec;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#darkMode:checked ~ .root .pj .skill {
  background-color: #201a2b;
}
/*# sourceMappingURL=style.css.map */