$fond: rgb(230, 235, 236);
$shadowFond: #ccd3d4;
$white: white;
$purple: rgb(145, 49, 255);
$lightPurple: rgb(161, 86, 247);
$orange: rgb(255, 183, 28);
$gray: rgb(36, 28, 46);
$drakGray: rgb(32, 26, 43);