/* GRID*/
.container.CHome{
    padding: 10vw 10vw 10vw 10vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:    "mn mn mn if"
                            "ct pp pp pp"
                            "pj pp pp pp"
                            "pj pp pp pp"
                            "pj pp pp pp" 
                            "bt bt bt bt";
}
@media screen and (max-width: 1000px){
    .container.CHome{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:    "mn mn"
                                "if ct"  
                                "pp pp"
                                "pp pp"
                                "bt bt"
    }
}
@media screen and (max-width: 600px){
    .container.CHome{
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas:    "mn"
                                "if"
                                "pp"
                                "pp"
                                "pp"
                                "pp"
                                "ct"
                                "bt"
    }
}
.mn{grid-area: mn; z-index: 0;}
.if{grid-area: if; z-index: -1;}
.pj{grid-area: pj; z-index: 0;}
.ct{grid-area: ct; z-index: 0;}
.projetsWrapper{grid-area: pp; z-index: 0;}

.breath{grid-area: bt; z-index: 0;}